body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

section {
    padding: 50px 20px;
    margin-bottom: 15px;
}

#sobre {
    background-color: #f4f4f4;
}

#portfolio {
    background-color: #eaeaea;
}

.portfolio-item {
    margin-bottom: 20px;
}

.portfolio-item img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: px;
    position: fixed;
    bottom: 0;
    width: 100%;
    
}

p{
    font-size: 20px;
}